# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules
dist
dist-ssr
*.local

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Carpeta interna de Claude
.claude
